<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      [pullingIcon]="null"
      [pullingText]="refresherText"
      refreshingSpinner="crescent">
    </ion-refresher-content>
  </ion-refresher>
  <div class="add-new" (click)="addNew()" slot="fixed">
    <i nz-icon nzType="plus" nzTheme="outline"></i>&nbsp;新日子
  </div>
  <div class="container">
    <Steps [size]="'small'">
      <Step (click)="showUpdate(item)" *ngFor="let item of dates" status="error" [icon]="item.isGood === 1 ? good : bad"
            [title]="item.title"
            [description]="item.datetime"></Step>
    </Steps>
    <ng-template #good>
      <i nz-icon [nzIconfont]="'icon-Heart'" class="good"></i>
    </ng-template>
    <ng-template #bad>
      <i nz-icon [nzIconfont]="'icon-Heartbroken'" class="bad"></i>
    </ng-template>
  </div>
</ion-content>
