<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      [pullingIcon]="null"
      [pullingText]="refresherText"
      refreshingSpinner="crescent">
    </ion-refresher-content>
  </ion-refresher>
  <div class="add-new" (click)="showUpdate()" slot="fixed">
    <i nz-icon nzType="plus" nzTheme="outline"></i>&nbsp;新日子
  </div>
  <div class="container">
    <nz-timeline>
      <nz-timeline-item *ngFor="let item of dates" [nzDot]="item.isGood === 1 ? good : bad">
        <div (click)="showUpdate(item)">
          <div class="title">{{item.title}}</div>
          <div class="description">{{item.datetime}}</div>
        </div>
      </nz-timeline-item>
    </nz-timeline>
    <ng-template #good>
      <i nz-icon [nzIconfont]="'icon-Heart'" class="good"></i>
    </ng-template>
    <ng-template #bad>
      <i nz-icon [nzIconfont]="'icon-Heartbroken'" class="bad"></i>
    </ng-template>
  </div>
</ion-content>
