.form-login {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  -webkit-align-content: center;
  -webkit-justify-content: center;
  height: 100%;
  background: url(login-bg.jpg) no-repeat center;
  background-size: 100%;
}

.title {
  text-align: center;
  font-size: 50px;
  color: white;
}

.title img {
  padding-left: 10px;
}

.login {
  margin-top: -3rem;
}

.input-box {
  border: 1px solid #cccccc;
  background-color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.love {
  background: url("../../../assets/image/love.png") no-repeat center;
  background-size: 40px;
}

.login .row {
  width: 80%;
  padding-top: 10px;
  margin: auto;
}

.login .row label {
  font-weight: 400;
  font-size: 14px;
}

.login .row input {
  width: 100%;
  margin: auto;
  font-size: 16px;
}

.btn-login {
  margin-top: 15px;
  width: 100%;
}
