<div class="head">
  <div class="info">
    <div class="avatar" [ngStyle]="{'background-image': 'url('+ personInfo.avatar +')'}"></div>
    <div class="name">
      <i *ngIf="personInfo.sex === 0" nz-icon [nzIconfont]="'icon-female'" class="sex-icon female"></i>
      <i *ngIf="personInfo.sex === 1" nz-icon [nzIconfont]="'icon-male'" class="sex-icon male"></i>&nbsp;
      {{personInfo.name}}&nbsp;
      <i nz-icon nzType="form" nzTheme="outline"></i>
    </div>
  </div>
</div>
<ul class="list">
  <li class="item">
    <i nz-icon [nzIconfont]="'icon-jingqingqidai'" class="icon"></i>
    <div class="name">尽情期待</div>
  </li>
  <li class="item" (click)="logout()">
    <i nz-icon [nzIconfont]="'icon-zhuxiao'" class="icon"></i>
    <div class="name">注销登录</div>
  </li>
</ul>
<!--<List [renderHeader]="">-->
<!--  <ListItem-->
<!--    [thumb]="expectTem"-->
<!--    [arrow]="'horizontal'"-->
<!--  >-->
<!--    尽情期待-->
<!--  </ListItem>-->
<!--  <ListItem-->
<!--    [thumb]="logoutTem"-->
<!--    [arrow]="'horizontal'"-->
<!--    (onClick)="logout()"-->
<!--  >-->
<!--    注销登录-->
<!--  </ListItem>-->
<!--</List>-->
<ng-template #expectTem>
  <i nz-icon [nzIconfont]="'icon-jingqingqidai'" class="icon"></i>
</ng-template>
<ng-template #logoutTem>
  <i nz-icon [nzIconfont]="'icon-zhuxiao'" class="icon"></i>
</ng-template>
