.f{
  text-align: center;
}
.title{
  font-size: 0.5333333333333333rem;
  color: #db5834;
  padding: 0.4rem 0;
  border-bottom: 0.013333333333333334rem dotted #db5834;
}
.title .day{
  margin-top: 0.26666666666666666rem;
  color: #e6aab3;
}
