<ion-tabs>
  <ion-tab-bar class="tab-bar" slot="bottom">
    <ion-tab-button tab="health" class="tabs-color">
      <ion-icon class="tab-icon" name="medkit-outline"></ion-icon>
      <ion-label>健康</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="love" class="tabs-color">
      <ion-icon class="tab-icon" name="heart-outline"></ion-icon>
      <ion-label>love</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="life" class="tabs-color">
      <ion-icon class="tab-icon" name="water-outline"></ion-icon>
      <ion-label>生活</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mine" class="tabs-color">
      <ion-icon class="tab-icon" name="person-outline"></ion-icon>
      <ion-label>我的</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
