<form [formGroup]="loginForm" (submit)="login()" class="form-login" novalidate>
  <div class="title">CT-ZONE<img src="../assets/image/love.png"></div>
  <div class="login">
    <div class="row">
      <label>帐号</label>
      <div class="input-box">
        <input type="text"
               [ngClass]="{'error':loginForm.get('loginid').dirty && loginForm.hasError('required',['loginid'])}"
               formControlName="loginid"/>
      </div>
    </div>
    <div class="row">
      <label>密码</label>
      <div class="input-box">
        <input type="password"
               [ngClass]="{'error':loginForm.get('password').dirty && loginForm.hasError('required',['password'])}"
               formControlName="password">
      </div>
    </div>
    <div class="row">
      <button class="btn-login" type="submit" [disabled]="!loginForm.valid">登录</button>
    </div>
  </div>
</form>
