:host {
  display: block;
}

.next {
  text-align: center;
  padding-top: 10px;
  margin: auto;
}

.next .forecast {
  font-size: 16px;
  color: coral;
}

.next .date {
  background-color: coral;
  border-radius: 25px;
  padding: 10px;
  width: 100px;
  line-height: 1;
  margin: 10px auto 0 auto;
  color: white;
  font-size: 0.4rem;
}

.header {
  margin-top: 20px;
  color: coral;
  font-size: 16px;
}

.list {
  padding: 10px 20px;
}

.list li {
  font-size: 16px;
  padding: 2px 0;
  color: #ff0074;
  border-bottom: 1px dashed #ff0074;
}

.set {
  color: red;
  margin-top: 20px;
  display: inherit;
  font-size: 16px;
  text-decoration: underline !important;
}
