<Card [full]="true">
  <CardHeader
    [title]="title"
    [extra]="extra"
    [thumbStyle]="{
    width: '32px',
    height: '32px'
  }"
  >
    <ng-template #title>
      <span class="date">{{(oilInfo.date * 1000|date:'yyyy-MM-dd')}}&nbsp;更新油价</span>
    </ng-template>
    <ng-template #extra>
      <!--      <span>this is extra</span>-->
    </ng-template>
  </CardHeader>
  <CardBody>

    <Flex>
      <FlexItem>城市</FlexItem>
      <FlexItem>92汽油</FlexItem>
      <FlexItem>95汽油</FlexItem>
      <FlexItem>98汽油</FlexItem>
      <FlexItem>89汽油</FlexItem>
      <FlexItem>0柴油</FlexItem>
    </Flex>
    <Flex class="line" *ngFor="let item of oilInfo.details" [class.jiangsu]="item.city === '江苏'">
      <FlexItem>{{item.city}}</FlexItem>
      <FlexItem class="number">
        <app-oil-price [latest]="item.qy92" [last]="item.qy92"></app-oil-price>
      </FlexItem>
      <FlexItem class="number">
        <app-oil-price [latest]="item.qy95" [last]="item.qy95"></app-oil-price>
      </FlexItem>
      <FlexItem class="number">
        <app-oil-price [latest]="item.qy98" [last]="item.qy98"></app-oil-price>
      </FlexItem>
      <FlexItem class="number">
        <app-oil-price [latest]="item.qy89" [last]="item.qy89"></app-oil-price>
      </FlexItem>
      <FlexItem class="number">
        <app-oil-price [latest]="item.cy0" [last]="item.cy0"></app-oil-price>
      </FlexItem>
    </Flex>
  </CardBody>
</Card>

