<ul class="header" [ngClass]="{menuHide:TOP}">
  <li routerLink="menstruation" routerLinkActive="selected">大姨妈</li>
  <li routerLink="board" routerLinkActive="selected">留言板</li>
  <li routerLink="bigDate" routerLinkActive="selected">重要日期</li>
</ul>
<div class="content">
  <div class="ne" [@routeAnimation]="routerStateCode">
      <router-outlet></router-outlet>
  </div>
</div>

<ul class="bottom" [ngClass]="{menuHide:BOTTOM}">
  <li routerLink="mine" routerLinkActive="selected">我的</li>
  <li>照片墙</li>
  <li>尽情期待</li>
</ul>
