[nz-icon] {
  font-size: 25px;
}

.icon-select {
  color: #ff5f5f
}

.not-select {
  color: white
}

.tab-body {
  background-color: white;
  height: 100%;
}

::ng-deep .am-tabs-content-wrap {
  transition: all 500ms;
}
