<TabBar
  [barTintColor]="'#e2afb8'"
  [tintColor]="'#ff5f5f'"
  [unselectedTintColor]="'white'"
  [activeTab]="selectedIndex"
  [tabBarPosition]="'bottom'"
  (onPress)="tabBarTabOnPress($event)"
>
  <TabBarItem [title]="'健康'" [key]="'health'" [badge]="" [icon]="icon1" [selectedIcon]="icon11">
    <ng-template #icon1>
      <i nz-icon [nzIconfont]="'icon-health1'" class="not-select"></i>
    </ng-template>
    <ng-template #icon11>
      <i nz-icon [nzIconfont]="'icon-health1'" class="icon-select"></i>
    </ng-template>
    <div class="tab-body">
      <app-menstruation *ngIf="selectedIndex === 0"></app-menstruation>
    </div>
  </TabBarItem>
  <TabBarItem [title]="'love'" [key]="'love'" [badge]="" [icon]="icon2" [selectedIcon]="icon22">
    <ng-template #icon2>
      <i nz-icon [nzIconfont]="'icon-heart__easyiconnet'"></i>
    </ng-template>
    <ng-template #icon22>
      <i nz-icon [nzIconfont]="'icon-heart__easyiconnet'" class="icon-select"></i>
    </ng-template>
    <div class="tab-body">
      <app-love *ngIf="selectedIndex === 1"></app-love>
    </div>
  </TabBarItem>
  <TabBarItem [title]="'我'" [key]="'mime'" [icon]="icon3" [selectedIcon]="icon33">
    <ng-template #icon3>
      <i nz-icon [nzIconfont]="'icon-my'"></i>
    </ng-template>
    <ng-template #icon33>
      <i nz-icon [nzIconfont]="'icon-my'" class="icon-select"></i>
    </ng-template>
    <div class="tab-body">
      <app-mine *ngIf="selectedIndex === 2"></app-mine>
    </div>
  </TabBarItem>
</TabBar>
