<ion-tabs>
  <ion-tab-bar class="tab-bar" slot="top">
    <ion-tab-button tab="big-date" class="tabs-color">
      <ion-icon class="tab-icon" name="medkit-outline"></ion-icon>
      <ion-label>重要的日子</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="board" class="tabs-color">
      <ion-icon class="tab-icon" name="heart-outline"></ion-icon>
      <ion-label>留言板</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map" class="tabs-color">
      <ion-icon class="tab-icon" name="water-outline"></ion-icon>
      <ion-label>照片墙</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about" class="tabs-color">
      <ion-icon class="tab-icon" name="person-outline"></ion-icon>
      <ion-label>Wedding</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
