html,body{
  height: 100%;
  overflow: hidden;
}
body{
  font-family: Eina,Helvetica Neue,Helvetica,sans-serif;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

blockquote, body, button, dd, div, dl, dt, form, h1, h2, h3, h4, h5, h6, input, li, ol, p, pre, td, textarea, th, ul {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  border: none;
}

ul,li{ padding:0;margin:0;list-style:none}

input{
  outline: 0;
  -webkit-appearance: none;
  border: none;
}

a:active, a:hover {
  outline: 0
}

button, input, optgroup, option, select, textarea {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  outline: 0
}

a {
  text-decoration: none!important;
}

a:hover {
}

a cite {
  font-style: normal;
  *cursor: pointer
}

.hide{
  display: none!important;
}

@font-face {
  font-family: 'iconfont';  /* project id 876907 */
  src: url('//at.alicdn.com/t/font_876907_b623l6gydkh.eot');
  src: url('//at.alicdn.com/t/font_876907_b623l6gydkh.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_876907_b623l6gydkh.woff') format('woff'),
  url('//at.alicdn.com/t/font_876907_b623l6gydkh.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_876907_b623l6gydkh.svg#iconfont') format('svg');
}

.btn{
  padding: 0.06666666666666667rem 0.2rem;
  border-radius: 0.06666666666666667rem;
  text-align: center;
  display: inline-block;
  margin: 0 0.13333333333333333rem;
}

.btn-pink{
  border: 1px solid #ffa0a6;
  color: #ffa0a6;
}

.ht-icon{
  display: inline-block;
  font-size: 25px;
  font-family: iconfont !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 0.06666666666666667rem;
}

.ht-icon.icon-delete:before{
  content: '\e600';
}
.ht-icon.icon-message:before{
  content: '\e63c';
}

.red {
  color: #e15f63 !important;
}

.green {
  color: #44b549 !important;
}

.blue {
  color: cornflowerblue !important;
}

.yellow {
  color: #ffb103 !important;
}

.grey {
  color: #8d8d8d !important;
}

.black {
  color: #222222 !important;
}

.pink {
  color: #ffa0a6 !important;
}

