html,body{
  height: 100%;
}
body{
  font-family: Eina,Helvetica Neue,Helvetica,sans-serif;
}

ul,li{ padding:0;margin:0;list-style:none}

input{
  outline: 0;
  -webkit-appearance: none;
  border: none;
}
