:host {
  display: block;
  position: relative;
  height: 100%;
}

::ng-deep .am-tabs-pane-wrap {
  transform: none !important;
}

.container {
  padding: 10px;
}

.write {
  top: 15px;
  right: 20px;
  padding: 5px 8px;
  border-radius: 3px;
  color: white;
  background-color: #ffa0a6;
  z-index: 2;
  box-shadow: 1px 1px 20px pink;
  -webkit-box-shadow: 1px 1px 20px pink;
  -moz-box-shadow: 1px 1px 20px pink;
  font-size: 12px;
}

.outer {
  height: 100%;
  overflow: auto;
}

.mask-layer {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.list {
  padding: 2px;
}

.list .item {
  padding: 12px 0;
  border-bottom: 1px dashed pink;
}

.list .item .head {
  width: 20%;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.list .item .head img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.list .item .body {
  width: 80%;
  vertical-align: top;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.list .item .body .content {
  margin: 5px 0;
  font-size: 13px;
}

.list .item .body .name {
  color: cornflowerblue;
  font-size: 14px;
}

.list .item .body .time {
  color: #cccccc;
  margin-top: 2px;
}

.list .item .body .reply {
  padding-top: 2px;
  font-size: 13px;
  margin-bottom: 5px;
}

.list .item .body .reply:after {
  clear: both;
  display: block;
  content: '';
}

.list .item .body .reply .reply-body {
  padding: 2px 4px 2px 0;
}

.list .item .body .reply .reply-name {
  color: cornflowerblue;
}

.list .item .body .reply .reply-content {
  -ms-word-break: break-all;
  word-break: break-all;
}

.list .item .body .reply .remove-reply {
  margin-left: 2px;
}

.list .item .body .btn-group {
  text-align: right;
  margin-top: 2px;
}

.nomessage li {
  text-align: center;
  padding: 20px 0;
  font-size: 10px;
}

.btn-pink:active {
  color: #ffa0a6;
}

.btn-pink:hover {
  color: #ffa0a6;
}
